 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I'm a social entrepreneur, a developer with a cause, and a fanatic about edible landscaping.</p>
                    <p>With over a decade of experience developing web applications and a BS in Computer Science—I'm innovative, creative, self-motivated, and I know how to get things done.</p>
                    <p>No task is too complicated for me, yet I know where to draw the line in terms of time and resources.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Skills</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>I like to consider myself a complete stack. I've long built and managed my own servers in addition to designing, developing, and deploying my own applications. And while I'm a coder at heart, I've spent years not only coding but also designing the UIs to much of what I've coded, which most recently included 4Good.org and SoEpi.org, both of which (with exception to the 4Good logo) did not use a formal design phase or graphic designer.</p>
                    <h4 id="i-m-an-expert-with-">I'm an expert with:</h4>
                    <ul>
                    <li>Ruby, Rails, CoffeeScript/JavaScript, Sass/CSS, Haml/ERB/HTML</li>
                    <li>JS, jQuery, Twitter's Bootstrap, Susy (grid calculations), responsive design</li>
                    <li>devise, dragonfly, sidekiq, fog/aws-sdk-ruby</li>
                    <li>Vagrant, Capistrano, Rubber, HA Proxy, NginX, Unicorn</li>
                    <li>PostgreSQL/MySQL, Redis, MemCacheD, SearchKick/ElasticSearch</li>
                    <li>DigitalOcean and Amazon's S3, Transcoding, EC2, SES, and Route53 services</li>
                    <li>Mandrill.com, Stripe.com, Embedly.com, Crocodoc.com, TaxCloud.net</li>
                    <li>Myrrix (<a href="https://github.com/cloudera/oryx">https://github.com/cloudera/oryx</a>)</li>
                    <li>NewRelic, Monit, collectd, Graylog</li>
                    <li>Git, Sublime Text, Mac OS, Ubuntu</li>
                    <li>And much more!</li>
                    </ul>
                    <h4 id="i-m-very-comfortable-">I'm very comfortable:</h4>
                    <ul>
                    <li>PHP, Joomla, Drupal, Wordpress</li>
                    <li>ColdFusion and SQL Server</li>
                    <li>Windows</li>
                    <li>Java, .Net stuff, C/C++</li>
                    <li>And anything else as I'm a avid learner!</li>
                    </ul>
                    <h4 id="i-m-interested-in-">I'm interested in:</h4>
                    <ul>
                    <li>WebRTC (particuarly <a href="http://janus.conf.meetecho.com/index.html">Meetecho/Janus</a>)</li>
                    <li>Node and WebSockets (more for spot usage and less for app development)</li>
                    <li>Hadoop and other big data languages, platforms and technologies</li>
                    <li>Native mobile apps as opposed to only responsive designs</li>
                    <li><a href="http://elixir-lang.org/">Elixir</a>/Erlang</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Education</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>University of Maryland University College, College Park, MD — BS in Computer Science, 2007</p>
                </div>
            </div>
        </div>
    </section>
